PORT=4000
FOUNDER_API_URL=http://127.0.0.1:5050/api/v1
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004,http://localhost:3005,http://foundretail.frontend.local,http://foundmeat.frontend.local,http://foundit.frontend.local,http://foundcrypto.frontend.local,http://foundtalent.frontend.local,http://founder-os.frontend.local
DATABASE_URL=postgresql://founder_os@127.0.0.1:5432/founder_os?schema=foundretail
# AUTH_ACCESS_TOKEN_SECRET=aad1e6a4686dd378b6614e37bdc53e4072d926a58b7fa3cd1193a7eeef657600db17d1501cfe9e726978571505076f4a
# AUTH_REFRESH_TOKEN_SECRET=4b3bf642698e1daf8b87c3f156a2fea47f1f53ee34bfbc54027317587ffbb301d23bfb1d50180d2a1f5d1cd1263fb140
