PORT=5050
FOUNDIT_API_URL=http://127.0.0.1:4002/api/v1
FOUNDRETAIL_API_URL=http://127.0.0.1:4000/api/v1
FOUNDMEAT_API_URL=http://127.0.0.1:4001/api/v1
FOUNDTALENT_API_URL=http://127.0.0.1:4003/api/v1
FOUNDCRYPTO_API_URL=http://127.0.0.1:4004/api/v1
WEBAUTHN_RP_ID=localhost
WEBAUTHN_RP_NAME=Founder OS
WEBAUTHN_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004,http://localhost:3005
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003,http://localhost:3004,http://localhost:3005,http://foundretail.frontend.local,http://foundmeat.frontend.local,http://foundit.frontend.local,http://foundcrypto.frontend.local,http://foundtalent.frontend.local,http://founder-os.frontend.local
DATABASE_URL=postgresql://founder_os@127.0.0.1:5432/founder_os?schema=founder_os
# AUTH_ACCESS_TOKEN_SECRET=aad1e6a4686dd378b6614e37bdc53e4072d926a58b7fa3cd1193a7eeef657600db17d1501cfe9e726978571505076f4a
# AUTH_REFRESH_TOKEN_SECRET=78a49d8a43f78bc7616af377a0cc755ba1bc23597ed66c383791e9f43420aa43de43e39b45baf3eed88e796b84107b60
